* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

body {
    font-family: 'outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
    min-height: 100vh;
    display: flex;
    align-items: center;
    font-size: 15px;
    
}

.container {
    max-width: 360px;
    margin: 0 auto;
    background-color: hsl(0, 0%, 100%);
    border-radius: 30px;
}

.picture img {
    width: 100%;
    padding: 20px;
    border-radius: 30px;
    text-align: center;
}

.text  {
    padding: 5px 20px;
    text-align: center;
}
.text h2 {
    font-weight: 700;
    font-size: 25px;
    color: hsl(218, 44%, 22%);
    padding-top: 1px;
    padding-bottom: 20px;
}
.text p {
    font-size: 17px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    margin-bottom: 50px;
    color: hsl(220, 15%, 55%);
}